body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #333; /* background color changed to dark gray */
    color: #fff; /* text color changed to white */
  }

  h1 {
    margin-top: 50px;
  }
  
  #form {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #444; /* form background color changed to dark gray */
    border: 1px solid #666; /* form border color changed to dark gray */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* added shadow effect */
  }
  
  #form label {
    display: block;
    margin-bottom: 20px;
    color: #fff; /* label text color changed to white */
  }
  
  #form input[type="date"] {
    width: 70%;
    height: 30px;
    margin-bottom: 20px;
    margin-right: 10px;
    padding: 10px;
    background-color: #555; /* input background color changed to dark gray */
    border: 1px solid #666; /* input border color changed to dark gray */
    border-radius: 5px;
    color: #fff; /* input text color changed to white */
  }
  
  #form button[type="submit"] {
    width: 70%;
    height: 30px;
    background-color: #4682B4; /* button background color changed to dark gray */
    color: #fff; /* button text color changed to white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #form button[type="submit"]:hover {
    background-color: #3A6E9F; /* button hover background color changed to dark gray */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }
  
  #result {
    width: 40%;
    margin: 50px auto;
    padding: 20px;
    background-color: #444; /* result background color changed to dark gray */
    border: 1px solid #666; /* result border color changed to dark gray */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* added shadow effect */
  }
  
  #result p {
    margin-bottom: 20px;
    color: #fff; /* result text color changed to white */
  }
  
  #result button {
    width: 70%;
    height: 30px;
    margin-bottom: 7px;
    background-color: #4682B4; /* button background color changed to dark gray */
    color: #fff; /* button text color changed to white */
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  #result button:hover {
    background-color: #3A6E9F; /* button hover background color changed to dark gray */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  }

  @media only screen and (max-width: 400px) {
    body {
      margin: 10px;
      width: 70%;
    }

    #result {
      padding: 10px;
      font-size: 14px;
    }

    button {
      font-size: 12px;
      padding: 5px 10px;
    }
  }